<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
<Appenders>
    <!-- 控制台输出 -->
    <Console name="Console" target="SYSTEM_ERR">
        <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
    </Console>

    <!-- 文件输出 -->
    <File name="File" fileName="/var/log/xzf.log">
        <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
    </File>
</Appenders>

<Loggers>
    <!-- 根日志器 -->
    <Root level="INFO">
        <AppenderRef ref="Console" />
        <AppenderRef ref="File" />
    </Root>
</Loggers>
</Configuration>
        <!--<?xml version="1.0" encoding="UTF-8"?>
        <Configuration status="INFO">
            <Appenders>
                <Console name="Console" target="SYSTEM_ERR">
                    <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
                </Console>
            </Appenders>
            <Loggers>
                <Root level="INFO">
                    <AppenderRef ref="Console" />
                </Root>
            </Loggers>
        </Configuration>-->