<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.EmpBasicMapper">

    <insert id="addEmpBasic" parameterType="empBasic">
        <!-- 插入Emp_Basic表的数据 -->
        INSERT INTO emp_basic (EMPNO, ENAME, AGE, JOB, DEPTNO)
        VALUES (DEFAULT, #{ename},
        <if test="age != null">#{age}</if>
        <if test="age == null">20</if>,
        #{job}, #{deptno})

        <!-- 获取刚插入的EMPNO -->
        <selectKey resultType="int" keyProperty="empno" order="AFTER">
            SELECT LAST_INSERT_ID() AS EMPNO
        </selectKey>
    </insert>

    <update id="modifyEmpBasic" parameterType="empBasic">
        UPDATE emp_basic SET ENAME = #{ename}, AGE =
        <if test="age == null">20</if>
        <!-- 如果yourColumn不为null，则使用传入的值 -->
        <if test="age != null">#{age}</if>
        , JOB = #{job}, DEPTNO =#{deptno} WHERE EMPNO = #{empno}
    </update>


    <select id="showAllEmpBasicDTO" resultType="com.dto.EmpBasicDTO">
        SELECT e.EMPNO, e.ENAME, e.AGE, e.JOB, e.DEPTNO, d.DNAME
        FROM emp_basic e
        INNER JOIN dept d ON e.deptno = d.deptno
        where 1=1
    </select>

    <select id="findByEmpno" resultType="empBasic">
        select * from emp_basic where empno = #{empno}
    </select>

    <select id="showAllEmpBasicDTOWithConstraint" resultType="com.dto.EmpBasicDTO">
        SELECT e.EMPNO, e.ENAME, e.AGE, e.JOB, e.DEPTNO, d.DNAME
        FROM emp_basic e
        INNER JOIN dept d ON e.deptno = d.deptno
        <where>
            <!-- 添加对ename的查询条件，即使job为空也可以执行 -->
            <if test="ename != null and ename != ''">
                AND e.ename LIKE CONCAT('%', #{ename}, '%')
            </if>
            <!-- 如果job不为空，则添加job的查询条件 -->
            <if test="job != null and job != ''">
                AND e.job LIKE CONCAT('%', #{job}, '%')
            </if>
        </where>

    </select>
    <select id="showAllEmpBasic" resultType="empBasic">
         select * from emp_basic
    </select>


    <delete id="delEmp" parameterType="int">
        DELETE FROM emp_basic where emp_basic.EMPNO = #{empno}
    </delete>




</mapper>