<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.DeptMapper">

    <insert id="addDept" parameterType="dept">
        INSERT INTO dept(DEPTNO, DNAME, LOC, DESCRIPTION)
        values(DEFAULT ,#{dname},#{loc},#{description})
    </insert>

    <update id="modifyDept" parameterType="dept">
        UPDATE dept SET DNAME = #{dname}, LOC = #{loc}, DESCRIPTION =#{description} WHERE DEPTNO = #{deptno}
    </update>

    <delete id="delByDeptno" parameterType="int">
        delete from dept where dept.DEPTNO = #{deptno}
    </delete>
    <select id="getAllDept" resultType="dept">
        select * from dept
    </select>

    <select id="allDeptAndNums" resultType="com.dto.DeptAndNumsDTO">
        select d.DNAME dname,count(e.EMPNO) empNums
        from dept d
        JOIN emp_basic e ON d.DEPTNO = e.DEPTNO
        GROUP BY d.DNAME;
    </select>

    <select id="findByDeptno" resultType="dept">
        select * from dept where DEPTNO = #{deptno}
    </select>
</mapper>