<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.SalaryMapper">

    <insert id="addSalary" parameterType="salary">
        <!-- 插入Salary表的数据 -->
        INSERT INTO salary
        VALUES (#{empno}, #{sal}, #{comm});
    </insert>

    <update id="modifySalary" parameterType="salary">
        UPDATE salary SET SAL = #{sal}, COMM = #{comm} WHERE EMPNO = #{empno}
    </update>


    <select id="findByEmpno" resultType="salary">
        select * from salary where empno = #{empno}
    </select>


</mapper>